.resultsContainer {
  display: grid;
  gap: 1rem;
}

.resultsItem button {
  width: 100%;
}

.resultsItem h2 {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}

@media screen and (min-width: 40rem) {
  .resultsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
