.resultsContainer {
  display: grid;
  gap: 1rem;
}

.resultsItem button {
  color: var(--link-color);
  border: 2px solid transparent;
  width: 100%;
}

.resultsItem button:hover {
  color: var(--link-color-hover);
  background-color: var(--background-color-outline-hover);
  border-color: var(--link-color-hover);
}

.resultsItem h2 {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}

@media screen and (min-width: 40rem) {
  .resultsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
