:root {
  --link-color: #3264b0;
  --link-color-hover: #1d2c5e;
  --background-color-outline-hover: #f3f3f3;
  --background-color-solid-hover: var(--link-color-hover);
  --border-radius: 0.25rem;
  --active: rgba(245, 200, 10, 0.25);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.app > main {
  flex-grow: 1;
  padding-block: 3rem;
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.col {
  flex-basis: 50%;
}

.details {
  flex-grow: 1;
  flex-shrink: 0;
}

.imgContainer {
  width: 100%;
  flex-grow: 0;
  margin: 0;
}

.imgContainer > img {
  width: 100%;
  object-fit: cover;
}

.button {
  appearance: none;
  background: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid var(--link-color);
  border-radius: var(--border-radius);
  transition: background-color 0.2s ease-in-out;
}

.button:disabled {
  color: #555;
  background: lightgray;
  border-color: transparent;
  pointer-events: none;
}

.button--solid {
  color: #fff;
  background-color: var(--link-color);
}

.button--solid:hover {
  background-color: var(--background-color-solid-hover);
  border-color: var(--background-color-solid-hover);
}

.button--outline {
  color: var(--link-color);
  background-color: transparent;
}

.button--outline:hover {
  color: var(--link-color-hover);
  background-color: var(--background-color-outline-hover);
  border-color: var(--link-color-hover);
}

.active > .button {
  background-color: var(--active);
}

@media screen and (min-width: 40rem) {
  .row {
    flex-direction: row;
    max-width: 60rem;
  }
}
